body{
  background-color: rgb(121, 105, 86);
}
img {
  max-width: 100%;
  height: auto;
}
input {
  padding: 10px 30px;
  font-size: 20px;
  border: 2px solid black;
  background: rgb(226, 226, 194);
}
.flagImage {
  margin: 0 auto;
  width: 600px;
  height: 600px;
}
.item__list {
  font-size: 24px;
  color: rgb(29, 8, 56);
}
.display {
  display: flex;
  justify-content: space-around;
}
.countries {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}
